
.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(134, 23, 23);
    color:blanchedalmond;
    height: 100vh;
    grid-gap: 0;
}

.play{
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows:repeat(8, 70px);
    margin: 0 auto;
    grid-auto-flow: row;
    padding: 0;
    background-color: black;
   
}

.wrapper{
    border: 4px solid black;
}

.sat1, .sat3, .sat5, .sat7 {background-color: blanchedalmond;}

.topalf{
    display: grid;
    grid-template-columns: repeat(8, 70px);
    height: 20px;
    margin:  0 auto;
    background-color:black;
    text-align: center;
   
}

.bottomalf{
    display: grid;
    grid-template-columns: repeat(8, 70px);
    height: 20px;
    margin:  0 auto;
    background-color: black;
    grid-auto-flow: row;
    text-align: center;
    
}


